body{
    min-width: 100%;
    font-family: 'Yu Gothic UI';
    }
li{
    list-style: none;
    }
a{
    text-decoration: none;
    color: #fff;
    }
header{
    display: flex;
    background-color: rgba(154,205,50,0.6);
    color:#fff;
    height: 70px;
    position: fixed;
    z-index: 20;
    width: 100%;
    justify-content: space-between;
    }
    h1{
        display: inline-block;
        justify-content: flex-start;
        padding:20px;
        font-size: 36px;
        font-weight: 100;
        }
    header ul{
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        padding:30px;
        }
        header ul li{
            padding-left:30px;
            }
.contents{
    height: 100vh;
    width: 100%;
    color:#fff;
    }
    .contents:first-child{
        background-color: rgba(224,255,255,0.5);\
        }
          .contents:first-child h2{
              margin: 0 auto;
              font-size: 40px;
              font-weight: 100;
              color: #fff;
              padding-top:500px;
            }
    .contents:nth-child(2){
        background-color: rgba(255,248,220,0.5);
        display: flex;
        }
        .contents:nth-child(2) .item{
            background-color:pink;
            opacity: 0.4;
            border-radius: 30px;
            padding:100px 200px;
            margin: 10% auto;
            }
    .contents:nth-child(3){
        background-color: rgba(255,215,0,0.5);
        }
    .contents:nth-child(3){
        background-color: rgba(218,112,214,0.5);
        }
    .contents:nth-child(4){
        background-color: rgba(255,99,71,0.5);
        }
    .contents:nth-child(5){
        background-color: rgba(255,255,240,0.5);
        color: #000;
        }
footer{
    background-color: rgba(154,205,50,0.6);
    width: 100%;
    color: #fff;
    }
    footer .footer-list{
        width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-bottom:solid 1px #fff;
        }
    footer .footer-list ul{
        padding:80px 30px;
        }
        footer .footer-list ul li{
            padding-top:30px;
        }
        footer h3{
            text-align: right;
            padding:30px;
            font-weight: 100;
            font-size: 36px;
        }
