/* スクロールするとフェイドインされる */

.toppage .contents .news {
     opacity: 0;
     transform : translate(0, 80px);
     transition : all 2500ms;
     }

.toppage .contents .news.scrollin{
     opacity: 1;
     transform: translate(0, 0);
     }
.toppage .contents .costomer-case {
     opacity: 0;
     transform : translate(0, 120px);
     transition : all 2500ms;
     }

.toppage .contents .costomer-case.scrollin{
     opacity: 1;
     transform: translate(0, 0);
    }

.toppage .contents .products {
     opacity: 0;
     transform : translate(0, 120px);
     transition : all 2500ms;
    }

.toppage .contents .products.scrollin{
     opacity: 1;
     transform: translate(0, 0);
    }
.toppage .contents .support {
     opacity: 0;
     transform : translate(0, 140px);
     transition : all 2500ms;
    }

.toppage .contents .support.scrollin{
     opacity: 1;
     transform: translate(0, 0);
    }
.toppage .contents .about {
     opacity: 0;
     transform : translate(0, 160px);
     transition : all 2500ms;
    }

.toppage .contents .about.scrollin{
     opacity: 1;
     transform: translate(0, 0);
    }


    /*mb */
    .toppage .contents .products-mb {
         opacity: 0;
         transform : translate(0, 80px);
         transition : all 2000ms;
        }

    .toppage .contents .products-mb.scrollin{
         opacity: 1;
         transform: translate(0, 0);
        }
    .toppage .contents .support-mb {
         opacity: 0;
         transform : translate(0, 80px);
         transition : all 2000ms;
        }

    .toppage .contents .support-mb.scrollin{
         opacity: 1;
         transform: translate(0, 0);
        }
    .toppage .contents .about-mb {
         opacity: 0;
         transform : translate(0, 80px);
         transition : all 2000ms;
        }

    .toppage .contents .about-mb.scrollin{
         opacity: 1;
         transform: translate(0, 0);
        }
/* スクロールするとフェイドインされる */

/* ちょいゆっくり、ちょい下から入る */
#fadeup1 {
     opacity: 0;
     transform : translate(0, 5px);
     transition : all 3000ms;
    }

#fadeup1.scrollin{
     opacity: 1;
     transform: translate(0, 0);
    }
/* ぱっとでるかんじ */
#fadeup2 {
         opacity: 0;
         transition : all 2000ms;
        }

#fadeup2.scrollin{
     opacity: 1;
     transform: translate(0, 0);
    }





/* スクロール時
---------------------------*/
	/* 画面外にいる状態 */
	.scrollfadeinup {
	    opacity : 0;
	    transform : translate(0, 50px);
	    transition : all 500ms;
	    z-index:10;
	    }
	    .scrollfadeinup2 {
		    opacity : 0;
		    transform : translate(0, 50px);
		    transition : all 800ms;
		    z-index:10;
		    }
		.scrollfadeinup3 {
		    opacity : 0;
		    transform : translate(0, 50px);
		    transition : all 1100ms;
		    z-index:10;
		    }
		.scrollfadeinup4 {
		    opacity : 0;
		    transform : translate(0, 50px);
		    transition : all 1400ms;
		    z-index:10;
		    }
		.scrollfadeinup5 {
		    opacity : 0;
		    transform : translate(0, 50px);
		    transition : all 1700ms;
		    z-index:10;
		    }
		.scrollfadeinup6 {
		    opacity : 0;
		    transform : translate(0, 50px);
		    transition : all 2000ms;
		    z-index:10;
		    }

	.scrollfadeinleft {
	    opacity : 0;
	    transform : translate(-50px, 0);
	    transition : all 1500ms;
	    z-index:10;
	    }
	    .scrollfadeinleft2 {
		    opacity : 0;
		    transform : translate(-50px, 0);
		    transition : all 2500ms;
		    z-index:10;
		    }
	.scrollfadeinright {
	    opacity : 0;
	    transform : translate(50px, 0);
	    transition : all 1500ms;
	    z-index:10;
	    }
	    .scrollfadeinright2 {
		    opacity : 0;
		    transform : translate(50px, 0);
		    transition : all 2500ms;
		    z-index:10;
		    }

	.scrollfadein {
	    opacity : 0;
	    transform : translate(0, 0);
		animation-delay: 2s;
	    transition : all 1500ms;
	    z-index:10;
	    }
	    .scrollfadein2 {
		    opacity : 0;
		    transform : translate(0, 0);
			animation-delay: 2s;
		    transition : all 3500ms;
		    z-index:10;
		    }

	.scrollfadeinheader {
	    opacity : 0;
	    transform : translate(0, 0);
		animation-delay: 2s;
	    transition : all 1500ms;
	    z-index:10;
	    }

	/* 画面内に入った状態 */
	.scrollfadeinup.scrollin,
	.scrollfadeinup2.scrollin,
	.scrollfadeinup3.scrollin,
	.scrollfadeinup4.scrollin,
	.scrollfadeinup5.scrollin,
	.scrollfadeinup6.scrollin,

	.scrollfadeinleft.scrollin,
	.scrollfadeinleft2.scrollin,

	.scrollfadeinright.scrollin,
	.scrollfadeinright2.scrollin,

	.scrollfadein.scrollin,
	.scrollfadein2.scrollin,

	.scrollfadeinheader.scrollin{
	    opacity : 1;
	    transform : translate(0, 0);
	    z-index:10;
	    }




html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: 'メイリオ','Hiragino Sans';

    }


body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
